.header {
  display: block;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  list-style: none;
  display: inline-block;
  margin: 0.5rem 10px;
  position: relative;
}
.nav__item::before {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
.nav__item:hover::before {
  width: 100%;
}
.nav__item {
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.navbar-brand {
  display: block;
  margin: auto;
}
