footer .title {
  font-weight: 400;
  font-size: 50px;
  color: #000000;
  margin: 5rem;
  font-size: 30px;
}
footer .subtitle {
  font-weight: 200;
  font-size: 40px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin: 1rem;
}
footer .paragraph {
  font-weight: 100;
  font-size: 20px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  margin: 0rem;
}
footer .social-item {
  list-style-type: none;
}
footer .social-item .social-link {
  text-decoration: none;
}
footer .social-item .social-link .social-icon {
  font-size: 30px;
  margin-right: 0.5rem;
  color: #000000;
}
